@font-face {
    font-family: 'FiraGO Regular 400';
    src: url('../fonts/FiraGO-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'FiraGO Medium 500';
    src: url('../fonts/FiraGO-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'FiraGO Bold 700';
    src: url('../fonts/FiraGO-Bold.woff2') format('woff2');
}

body {
    font-family: 'FiraGO Regular 400', sans-serif;
    margin: 0;
    padding: 0;
    background: #F3F2FA;
}

body.blog-page {
    background: #FBFAFF;
}